<div class="jumbotron">
  <div class="container">
    <h1>About us</h1>
    <p>This is the sample project I built for <a href="https://onemonth.com" target="_blank">One Month</a> Rails.</p>
  </div>
</div>